{% extends 'base.html' %}

{% block head %}
    <title>Search page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body%}
    <div class="box">
        <div class="heading">
            <h1>Search Product For Scraping.</h1>
        </div>
        <div class="form">
            <form action="/scrap" method="post">
                <input type="text" name="search" id="search">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
{% endblock %}